.btn{
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    border: $btn-border-width solid;
    border-radius: $btn-border-radius;
    height: $btn-height;
    width: auto;
    // padding: $btn-padding-y $btn-padding-x;
    margin: $btn-margin-y $btn-margin-x;
    transition: all .2s ease-in-out;

    &:hover{
        background: rgb(126, 124, 124);
        color: white;
        border-color: rgb(72, 71, 71);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    }
}