// COLOURS
$color-1: red;
$color-2: blue;
$color-3: yellow;
$color-4: green;
$color-5: pink;

// FONT SIZE
$btn-font-family: "arial";
$btn-font-size: 12px;
$btn-font-weight: bold;
$font-1: 8px;
$font-2: 10px;
$font-3: 12px;
$font-4: 14px;
$font-5: 16px;

// PADDING
$btn-padding-y: 10px;
$btn-padding-x: 10px;

// MARGIN
$btn-margin-y: 10px;
$btn-margin-x: 10px;

// BORDER
$btn-border-radius: 10px;
$btn-border-width: 1px;

// TRANSITION
$btn-transition: .5s;

// HEIGHT
$btn-height: 80px;
$height-1: 40px;
$height-2: 50px;
$height-3: 60px;
$height-4: 70px;
$height-5: 80px;