// COLOURS
$color-1: red;
$color-2: blue;
$color-3: yellow;
$color-4: green;
$color-5: pink;

// FONT SIZE
$btn-font-family: "arial";
$btn-font-size: 12px;
$btn-font-weight: bold;

// PADDING
$btn-padding-y: 20px;
$btn-padding-x: 20px;

// MARGIN
$btn-margin-y: 20px;
$btn-margin-x: 20px;

// BORDER
$btn-border-radius: 10px;
$btn-border-width: 1px;

// TRANSITION
$btn-transition: .5s;

// HEIGHT
$btn-height: 80px;
$height-1: 80px;
$height-2: 100px;
$height-3: 120px;
$height-4: 140px;
$height-5: 160px;