<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
</head>
<body>
  <h1>{{ titulo }}</h1>
  <form action='{% url "app:enviar" %}' method='POST'>
    {% csrf_token %}
    Nombre : <input type='text' name='nombre'></br>
    Cual es tu rol favorito:
    <select name='rol'>
      <option>Fullstack</option>
      <option>Front End</option>
      <option>Backend</option>
    </select></br>
    Qué idioma hablas:
    <input type="checkbox" name="idiomas" value="Español" checked="checked">Español</input>
    <input type="checkbox" name="idiomas" value="ingles">Ingles</input>
    <input type="checkbox" name="idiomas" value="frances">Francés</input>
    <input type="checkbox" name="idiomas" value="aleman">Aleman</input>
  </br>
    <input type="submit" name="enviar" value="Enviar">
  </form>
</body>
</html>